@import '//fonts.googleapis.com/css?family=Cutive';
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
<<<<<<< HEAD
  padding: 0;
  margin: 0;
=======
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #313131;
  background: #222;
}

.row {
  max-width: 1024px;
}

/*
 *  Typography
*/
body,
p,
a,
li {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

a {
  color: #219e9a;
}

h2,
h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #313131;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 40px;
  color: rgba(49, 49, 49, 0.7);
}

p:not(.author) {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}

p.author {
  margin-bottom: 10px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(49, 49, 49, 0.5);
>>>>>>> d64f4642af27ff977e4b172180eb82fb1a2781f0
}

html {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Cutive", serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #222;
  background-color: #ededed;
  transition: background-color 150ms ease-out, color 150ms ease-out;
}

.dark {
  color: #ededed;
  background-color: #222;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:focus, a:hover {
  box-shadow: inset 0 -8px 0 #c92b2b;
}

p {
  opacity: 0.6;
  margin: 0 0 0.6rem 0;
  transition: opacity 300ms ease-out;
}
p:hover {
  opacity: 1;
}

.scene {
  padding: 6rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.actor {
  font-size: 2.8rem;
  display: flex;
  margin-bottom: 2rem;
}
.actor:last-of-type {
  margin-bottom: 6rem;
}

.actor__content {
  flex-grow: 1;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.actor__content--typing::after {
  content: "|";
  -webkit-animation: blink 500ms infinite;
          animation: blink 500ms infinite;
}